<h1 align="center">Eat-Da-Burger! </h1>
<table class=".nes-table-responsive">
  <tr>
    <td>
      <h2 align="center">Burgers not devoured!</h2>
    </td>
    <td></td>
    <td>
      <h2 align="center">Burgers devoured!</h2>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        {{#each burgers}}
          {{#unless isDevoured}}
            {{> burgers/burger-block isDevoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </td>
   <td>
      <img src="/assets/images/burger4.png" alt="Image of a yummy burger" class="image-formatter">
    </td>
    <td>
      <ul>
        {{#each burgers}}
          {{#if isDevoured}}
            {{> burgers/burger-block isDevoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </td>
  </tr>
</table>
<h2 align="center">Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" maxlength ="20"id="bur"  placeholder="burger name"  pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" class="nes-input is-success" name="burger_name">
  </div>
  <div class="form-group">
    <input type="radio" name="isDevoured" value="1" checked>Devour!<br>
    <input type="radio" name="isDevoured" value="0"> Not Devoured<br>
  </div>
        <button class="nes-btn"type="submit"id="sub">Add </button>
</form>
